.intro-section{
    padding-left: 20px;
    display: flex;
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 20px;
    flex-direction: row;
}

.intro-details{
    display: flex;
    flex: 4;
    padding: 10px;
    flex-direction: column;
    justify-content:center;
}

.intro-logo{
    /* display: flex; */
    width: 10%;
    padding: 30px;
    border-radius: 100px;
    flex: 0.75;
    transition: .15s;
}

.intro-featured-playlists{
    display: flex;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    background-color: #38b6ff;
    padding: 9px;
    transition: .15s;
    align-self: start;
}

.intro-featured-playlists:hover{
    padding: 20px;
    background-color: #0062ff;
    font-size: 20px;
}

.lottie-animation{
    display: flex;
    justify-content: center;
    /* flex: 1; */
    /* align-self: center; */
}

.review-and-form{
    margin-top:15px;
    display: grid;
    grid-template-columns: 950px 1fr;
    background-color: rgba(128, 128, 128, 0.6);
    padding: 20px;
    border-radius: 20px;
    column-gap: 15px;
}

.review-grid{
    display: grid;
    grid-template-columns: 50px 200px 600px;
    background-color: rgb(20,20,20);
    padding: 20px;
    border-radius: 20px;
    row-gap: 15px;
    transition: .3s;
}

.review-grid:hover{
    color: black;
    background-color: #38b6ff;
}

.profile-picture{
    width:40px;
    height:40px;
    margin-top: 15px;
    object-fit: cover;
    border-radius: 20px;
}

.user-title{
    font-weight:900;
    margin-bottom: 5px;
    margin-top: 15px;
}

.user-author , .user-stats{
    /* color: rgb(0, 0, 0); */
    margin: 2px;
}

.form{
    background-color: rgb(20,20,20);
    border-radius: 20px;
    padding: 20px;
}
