.intro-section{
    padding-left: 20px;
    display: flex;
    background-color:  rgb(20,20,20);
    border-radius: 20px;
    flex-direction: row;
}

.intro-details{
    display: flex;
    flex: 4;
    padding: 10px;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

.intro-logo{
    /* display: flex; */
    width: 10%;
    padding: 30px;
    border-radius: 100px;
    flex: 0.75;
    transition: .15s;
    align-self: end;
}

.intro-featured-playlists{
    display: flex;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    background-color: #ff5338;
    padding: 9px;
    transition: .15s;
    align-items: self-start;
}

.intro-featured-playlists:hover{
    padding: 20px;
    background-color: #ac0000;
    font-size: 20px;
}

.lottie-animation{
    display: flex;
    justify-content: center;
    /* flex: 1; */
    align-self: center;
}

.review-and-form{
    margin-top:15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(20,20,20);
    padding: 20px;
    border-radius: 20px;
    column-gap: 15px;
}

.review-grid{
    display: grid;
    grid-template-columns: 50px 200px 1fr;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    row-gap: 15px;
    transition: .3s;
}

.review-grid:hover{
    color: white;
    background-color: rgb(41, 38, 38);
}

.profile-picture{
    width:40px;
    height:40px;
    margin-top: 15px;
    object-fit: cover;
    border-radius: 20px;
}

.user-title{
    font-weight:900;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #ff5338;
}


.user-author , .user-stats{
    /* color: rgb(0, 0, 0); */
    margin: 2px;
}

.form{
    background-color: black;
    border-radius: 20px;
    padding: 20px;
}

.form-fieldset{
    border: none;
    color:#f95b2b;
    padding: 10px;
}

.form-input{
    color:white;
    border-color: #ff5338;
    border-radius: 10px;
    background-color: rgb(20,20,20);
    padding: 5px;
}

.form-button{
    background-color: #ff5338;
    border:none;
    border-radius:10px;
    padding: 3px;
    transition: .3s;
}

.form-button:hover{
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    font-size: large;
}